@import '../../../styles/settings.scss';

.root {
  padding: 15px;

  table {
    th {
      font-size: 17px;
      font-weight: bold;
    }

    td {
      a {
        margin: 7px 15px;
      }
    }

    .w10 {
      width: 10%;
    }

    .w15 {
      width: 15%;
    }
    .w35 {
      width: 35%;
    }

    th, td {
      text-align: center;
    }
  }
}
