@import '../../../styles/settings.scss';

.root {
  text-align: center;

  table {
    th {
      font-size: 17px;
      font-weight: bold;
    }

    th, td {
      text-align: center;
    }

    td {
      textarea {
        width: 80%;
        min-height: 100px;
      }
    }

    .dataWrapper {
      display: flex;
      flex-direction: column;

      input {
        display: block;
        width: 80%;
        margin-top: 15px;
      }
    }

    .w40 {
      width: 40%;
    }
  }

  button {
    margin: 30px 30px;
  }
}
